name: Tests

on:
    pull_request:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js lts/*
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Chrome for Puppeteer
        run: pnpm --filter @posthog/rrweb exec puppeteer browsers install chrome

      - name: Build Project
        run: NODE_OPTIONS='--max-old-space-size=4096' pnpm build:all

      - name: Check types
        run: pnpm check-types

      - name: Run tests
        run: PUPPETEER_HEADLESS=true xvfb-run --server-args="-screen 0 1920x1080x24" pnpm test

      - name: Check bundle sizes
        uses: preactjs/compressed-size-action@v2
        with:
         install-script: "pnpm install --frozen-lockfile"
         build-script: "build:all"
         compression: "none"
         pattern: "**/dist/*.{js,cjs,mjs,css}"

      - name: Upload diff images to GitHub
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: image-diff
          path: packages/**/__image_snapshots__/__diff_output__/*.png
          if-no-files-found: ignore
